[submodule "soapi"]
	path = soapi
	url = git://github.com/eatnumber1/soapi.git
[submodule "soapcli"]
	path = soapcli
	url = git://github.com/eatnumber1/soapcli.git
[submodule "javautil"]
	path = javautil
	url = git://github.com/eatnumber1/javautil.git
